<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<!--*** HEADER ***-->
<th:block th:fragment="header">
    <nav class="h10vh ps-3 navbar navbar-expand-sm bg-light navbar-dark position-fixed top-0 min-vw-100">
        <div class="container-fluid d-flex">
            <a class="navbar-brand" href="#"><img class="h10vh" th:src="@{/img/logo.png}"></a>
            <a th:href="@{/apply}"><button type="button" class="btn btn-dark">신청하기</button></a>
        </div>
    </nav>
</th:block>



<!--*** FOOTER ***-->
<th:block th:fragment="footer">
    <footer class="h10vh">
        <div class="h-100 d-flex align-items-center justify-content-between">
            <div></div>
            <div>
                <span>Copyright(c) Linky All rights reserved</span>
            </div>
            <div class="me-3">
                <a href="#"><img class="kakao_c" th:src="@{/img/kakao_c.png}"></a>
            </div>
        </div>
    </footer>
</th:block>

</html>