@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.cursor-pointer:hover {
    cursor: pointer;
}

html, body { height: 100vh; margin: 0; font-family: Happiness-Sans-Title}

.m10 { margin: 10px; }
.m20 { margin: 20px; }
.m30 { margin: 30px; }
.m40 { margin: 40px; }

.mb20 { margin-bottom: 20px;}

.mt20 { margin-top: 20px; }

.ml10px { margin-left: 10px; }

.mr10px { margin-right: 10px; }
.mr30px { margin-right: 30px; }
.mr5vh { padding-right: 5vh; }

.mh-10vh { min-height: 10vh; }
.mh-20vh { min-height: 20vh; }
.mh-30vh { min-height: 30vh; }
.mh-40vh { min-height: 40vh; }
.mh-50vh { min-height: 50vh; }
.mh-90vh { min-height: 90vh; }

.mxh-30vh { max-height: 30vh;}
.mxh-40vh { max-height: 40vh;}
.mxh-50vh { max-height: 50vh;}
.mxh-60vh { max-height: 60vh;}
.mxh-70vh { max-height: 70vh;}

.h8vh { height:8vh; }
.h10vh { height: 10vh; }
.h20vh { height: 20vh; }
.h30vh { height: 30vh; }
.h38vh{ height: 38vh; }
.h40vh { height: 40vh; }
.h50vh { height: 50vh; }
.h60vh { height: 60vh; }

.w33px { width: 33px;}
.w58px { width: 58px; }
.w65px { width: 65px; }
.w100px { width: 100px; }
.w150px { width: 150px; }
.w332px { width: 332px; }
.w340px { width: 340px; }
.w397px { width: 397px; }
.w400px { width: 400px; }
.w10vh { width: 10vh; }
.w20vh { width: 20vh; }
.w30vh { width: 30vh; }
.w60vh { width: 60vh; }
.w100 { width: 100%;}

.text-align-start { text-align: start; }
.text-align-center { text-align: center; }
.text-align-right { text-align: right; }

.g30 { gap: 30px; }
.g50 { gap: 50px; }
.g100 { gap: 100px; }

.mv-auto { margin: auto 0px; }
.m-auto { margin: auto; }
.mt10vh{ margin-top: 10vh; }
.mt20vh{ margin-top: 20vh; }
.mt30vh{ margin-top: 30vh; }
.mt35vh{ margin-top: 35vh; }

.p20px { padding: 20px; }

.hidden {
    visibility: hidden;
}

.z-index0 { z-index: 0!important;}
.z-index1 { z-index: 1!important;}
.z-index10{
    z-index: 10!important;
}

.kakao_c {
    object-fit: contain;
    max-height: 5vh;
}

.kakao_c:hover {
    cursor: pointer;
}

.transferInfo {
    display:none;
    margin: 5vh auto;
}

footer {
    background-color: #ECFFF8;
}

.swiper {
    z-index: 1;
}

@media screen and (max-width: 443px) {
    * {
        font-size: small;
    }
    .kakao-btn {
        width: 100px;
    }
}

@media screen and (max-width: 484px) {
    .kakao-btn {
        width: 100px;
    }

    .survey-img {
        width: 70px;
    }
}

@media screen and (max-height: 569px) {
    .btns {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-around !important;
    }
    .btn1 {
        margin : 0 !important;
    }

    footer {
        margin-top: 10vh;
    }
}

@media screen and (max-height: 724px) {
    .payment-top {
        max-height:25vh;
    }

    .payImg {
        width: 80px;
    }
}

@media screen and (max-height: 675px) {
    .transferInfo {
        font-size: small;
    }
}

.payment-top {
    flex : 3;
}

.payment-container {
    flex: 4;
}

.apply-header {
    flex : 3;
    min-height: 30vh;
}

.apply-body {
    flex: 4;
    padding: 0 !important;
}