html, body { height: 100vh; margin: 0}
.mh-10vh { min-height: 10vh; }
.mh-20vh { min-height: 20vh; }
.mh-30vh { min-height: 30vh; }
.mh-40vh { min-height: 40vh; }
.mh-50vh { min-height: 50vh; }
.mh-90vh { min-height: 90vh; }

.mxh-30vh { max-height: 30vh;}
.mxh-40vh { max-height: 40vh;}

.h8vh { height:8vh; }
.h10vh { height: 10vh; }
.h20vh { height: 20vh; }
.h30vh { height: 30vh; }
.h40vh { height: 40vh; }
.h50vh { height: 50vh; }

.w10vh { width: 10vh; }
.w20vh { width: 20vh; }
.w30vh { width: 30vh; }
.w100 { width: 100%;}

.text-align-center { text-align: center; }
.text-align-right { text-align: right; }

.g30 { gap: 30px; }
.g50 { gap: 50px; }
.g100 { gap: 100px; }


.mv-auto { margin: auto 0px; }
.m-auto { margin: auto; }
.mt10vh{ margin-top: 10vh; }
.mt20vh{ margin-top: 20vh; }
.mt30vh{ margin-top: 30vh; }

.hidden {
    visibility: hidden;
}

.z-index0 { z-index: 0;}
.z-index1 { z-index: 1;}

.kakao_c {
    object-fit: contain;
    max-height: 5vh;
}

.transferInfo {
    display:none;
}

footer {
    background-color: #ECFFF8;
}