.schedule-mod-select {
    text-decoration: underline;
}
.schedule-mod-select:hover {
    cursor: pointer;
    color: white;
}

.f-modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-qna {
    background-color: #6884b3;
}

.talk-room {
    background-color: #ccdcf6;
}

.talk-me {
    border-radius: 1rem;
    padding: 5px;
    background: white;
    max-width: 25vh;
}

.talk-you {
    justify-content: end;
}

.talk-yellow {
    border-radius: 1rem;
    padding: 5px;
    background: #FDF01B;
    max-width: 25vh;
}

.img-div {
    overflow: hidden;
    margin: 0px 10px;
    max-height: 80px;
}

.img-div > img {
    width: 60px;
}

.review-modal {
    display: none;
    position: fixed;
    height: 50vh;
    z-index: 1055 !important;
    top: 0;
    left: 0;
    margin: 1.75rem auto;
    width: 100%;
    justify-content: center;
}

.review-img div {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.review-img img {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    overflow: hidden;
}

.swiper-slide > img {
    width : 100%;
    height : 100%;
    object-fit: contain;
}