.schedule-mod-select {
    text-decoration: underline;
}
.schedule-mod-select:hover {
    cursor: pointer;
    color: white;
}

.f-modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-qna {
    background-color: #6884b3;
}

.receiver {

}