.schedule-mod-select {
    text-decoration: underline;
}
.schedule-mod-select:hover {
    cursor: pointer;
    color: white;
}

.f-modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-qna {
    background-color: #6884b3;
}

.talk-room {
    background-color: #ccdcf6;
}

.talk-me {
    border-radius: 1rem;
    padding: 10px;
    background: white;
    max-width: 50vh;
}

.talk-you {
    justify-content: end;
}

.talk-yellow {
    border-radius: 1rem;
    padding: 10px;
    background: #FDF01B;
    max-width: 50vh;
}

