<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="/main/temp/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <script defer th:src="@{/js/main/main.js}"></script>
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="mt10vh main-container">
        <div class="g100 bg-primary d-flex flex-column p-3 container-fluid">
            <div class="text-white">
                <h1>Another</h1>
                <h1>Experience</h1>
            </div>
            <div class="mr5vh d-flex flex-column justify-content-center align-items-end h-100 text-white">
                <div class="d-flex justify-content-end flex-row">
                    <h1>SCHEDULE</h1>
                </div>
                <div class="schedule-wrapper d-flex flex-column align-items-end">
                    <th:block th:each="data : ${schedule}">
                        <h5 class="schedule-data text-align-start">
                            <button sec:authorize="isAuthenticated()"
                                    type="button"
                                    class="btn btn-primary schedule-mod-button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#myModal">수정
                            </button>
                            <button class="hidden btn btn-primary w58px" sec:authorize="!isAuthenticated()">수정</button>
                            <span class="date" th:text="${data.rdt}"></span>
                            <span class="day" th:text="${data.day}"></span>
                            <span class="time" th:text="${data.time}"></span>
                            <input type="hidden" class="id" th:value="${data.id}">
                            <input type="hidden" class="man" th:value="${data.man}">
                            <input type="hidden" class="woman" th:value="${data.woman}">
                            <span class="person" th:text="|남${data.man}/여${data.woman}|"></span>
                            <span class="status" th:text="${data.status}"></span>
                        </h5>
                    </th:block>
                </div>
            </div>
        </div>

        <div class="h50vh d-flex flex-column justify-content-center mt10vh">
            <div class="text-align-center">
                <h1 class="mb-5">About Us</h1>
            </div>
            <div class="text-align-center justify-content-center">
                <h4 class="mb-4">일상에 지친 2030 남녀 N명을 링키에 초대합니다!</h4>
                <h4 class="mb-4">사전 검증을 통한 안전하고 색다른 프라이빗 미팅 레크리에이션</h4>
                <h4 class="mb-4">다른 사람이 보는 내 첫인상은?</h4>
                <h4 class="mb-4">어색함 없는 다양한 주제 토크</h4>
                <h4 class="mb-4">새로운 인연이 있을지도...?</h4>
            </div>
        </div>

        <div class="mxh-50vh z-index0 mt10vh">
            <div class="text-align-center">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img class="mxh-70vh" th:src="@{/img/process_1.png}"></div>
                        <div class="swiper-slide"><img class="mxh-70vh" th:src="@{/img/process_2.png}"></div>
                        <div class="swiper-slide"><img class="mxh-70vh" th:src="@{/img/process_3.png}"></div>
                        <div class="swiper-slide"><img class="mxh-70vh" th:src="@{/img/process_4.png}"></div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center mt20vh">
            <h1 class="m-5">TIME TABLE<img class="ms-3 w100px" th:src="@{/img/timetable.png}"></h1>
            <h4 class="mb-3">규칙 설명, 일정 소개</h4>
            <h4 class="mb-3">아이스브레이킹</h4>
            <h4 class="mb-3">상대방에게 질문&답변</h4>
            <h4 class="mb-3">첫인상 작성</h4>
            <h4 class="mb-3">쉬는 시간</h4>
            <h4 class="mb-3">첫인상 발표</h4>
            <h4 class="mb-3">게임 및 자유토크</h4>
            <h4 class="mb-5">마무리</h4>
            <br>
            <h5>해당 일정은 변동이 있을 수 있습니다.</h5>
        </div>

      <div class="mt10vh d-flex justify-content-center flex-column">
        <div class="d-flex flex-column align-items-center">
            <div class="mt10vh d-flex justify-content-center flex-column w90">
                <div class="text-align-center">
                    <img class="mb-5 w100px" th:src="@{/img/qa.png}">
                </div>
                <div class="d-flex flex-column talk-room">
                    <div class="d-flex justify-content-center flex-column p-4">
                        <div>
                            <div class="d-flex mb20 mt20">
                                <div class="img-div">
                                    <img th:src="@{/img/person.png}">
                                </div>
                                <h4 class="mt-auto mb-auto ms-1 talk-me">혼자 가도 될까요?</h4>
                            </div>
                            <div class="d-flex talk-you mb20">
                                <div class="d-flex flex-column talk-yellow">
                                    <h4 class="mt-auto mb-auto ms-1">네^^ 대부분 혼자 오십니다.</h4>
                                    <h4 class="mt-auto mb-auto ms-1">동행이 있으실 경우 호스트에게 말씀해 주세요.</h4>
                                </div>
                                <div class="img-div">
                                    <img th:src="@{/img/logo.png}">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex mb20">
                                <div class="img-div">
                                    <img th:src="@{/img/person.png}">
                                </div>
                                <h4 class="mt-auto mb-auto ms-1 talk-me">참여인원과 남녀 비율은 어떻게 되나요?</h4>
                            </div>
                            <div class="d-flex talk-you mb20">
                                <h4 class="mt-auto mb-auto ms-1 talk-yellow">참여 인원은 가변적이며, 남녀 비율은 5:5로 맞추고 있습니다.</h4>
                                <div class="img-div">
                                    <img th:src="@{/img/logo.png}">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex mb20">
                                <div class="img-div">
                                    <img th:src="@{/img/person.png}">
                                </div>
                                <h4 class="mt-auto mb-auto ms-1 talk-me">참가하는 연령대가 어떻게 되나요?</h4>
                            </div>
                            <div class="d-flex talk-you mb20">
                                <h4 class="mt-auto mb-auto ms-1 talk-yellow">20~30대까지 참가하십니다.</h4>
                                <div class="img-div">
                                    <img th:src="@{/img/logo.png}">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex mb20">
                                <div class="img-div">
                                    <img th:src="@{/img/person.png}">
                                </div>
                                <h4 class="mt-auto mb-auto ms-1 talk-me">신상을 공개해야 하나요?</h4>
                            </div>
                            <div class="d-flex talk-you mb20">
                                <h4 class="mt-auto mb-auto ms-1 talk-yellow">아니요. 모임시간 동안은 신상을 물어보는 것을 최대한 자제해주세요.</h4>
                                <div class="img-div">
                                    <img th:src="@{/img/logo.png}">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex mb20">
                                <div class="img-div">
                                    <img th:src="@{/img/person.png}">
                                </div>
                                <h4 class="mt-auto mb-auto ms-1 talk-me">환불 규정은 어떻게 되나요?</h4>
                            </div>
                            <div class="d-flex talk-you mb20">
                                <div class="d-flex flex-column talk-yellow">
                                    <h4 class="mt-auto mb-auto ms-1">3일 전 취소시 100% 환불, 2일 전 50% 환불해드립니다.</h4>
                                    <h4 class="mt-auto mb-auto ms-1">하루 전과 당일은 환불이 불가합니다.</h4>
                                    <h4 class="mt-auto mb-auto ms-1">모임이 확정 된 상태에서 취소는 매우 곤란하기 때문에 약속을 꼭 지켜주세요^^</h4>
                                </div>
                                <div class="img-div">
                                    <img th:src="@{/img/logo.png}">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex mb20">
                                <div class="img-div">
                                    <img th:src="@{/img/person.png}">
                                </div>
                                <h4 class="mt-auto mb-auto ms-1 talk-me">뒤풀이는 있나요?</h4>
                            </div>
                            <div class="d-flex talk-you mb20">
                                <div class="d-flex flex-column talk-yellow">
                                    <h4 class="mt-auto mb-auto ms-1">호스트가 주관하는 뒤풀이는 없습니다.</h4>
                                    <h4 class="mt-auto mb-auto ms-1">다만 참가자들이 자율적으로 뒤풀이를 하시는 것은 자유입니다.</h4>
                                </div>
                                <div class="img-div">
                                    <img th:src="@{/img/logo.png}">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex mb20">
                                <div class="img-div">
                                    <img th:src="@{/img/person.png}">
                                </div>
                                <h4 class="mt-auto mb-auto ms-1 talk-me">결제 후 과정이 어떻게 되나요?</h4>
                            </div>
                            <div class="d-flex talk-you mb20">
                                <div class="d-flex flex-column talk-yellow">
                                    <h4 class="mt-auto mb-auto ms-1">결제 확인 후 설문을 바탕으로 참가자를 확정하고 호스트가 직접 카카오톡으로
                                        연락드립니다.</h4>
                                    <h4 class="mt-auto mb-auto ms-1">참가자 선착순 등의 이유로 해당 회차에 참가하지 못하시는 경우 100% 환불 해드리며, 다음
                                        참가시 우선권이 부여됩니다.</h4>
                                </div>
                                <div class="img-div">
                                    <img th:src="@{/img/logo.png}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div>
                <button id="review-button">수정</button>
                <div class="swiper-container swiper review-swiper">
                    <!-- 보여지는 영역 -->
                    <div class="swiper-wrapper text-align-center">
                        <th:block th:each="data:${reviews}">
                        <div class="swiper-slide">
                            <img th:src="@{/img/{img} (img=${data.img})}">
                        </div>
                        </th:block>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

                <div class="z-index10 review-modal">
                    <div class="bg-white h38vh w60vh text-align-center">
                        <div>
                            <div class="review-img d-flex justify-content-between p20px">
                                <div>
                                    <img th:src="@{/img/person.png}">
                                </div>
                                <div>
                                    <img th:src="@{/img/person.png}">
                                </div>
                                <div>
                                    <img th:src="@{/img/person.png}">
                                </div>
                            </div>
                            <div class="review-img d-flex justify-content-between p20px">
                                <div>
                                    <img th:src="@{/img/person.png}">
                                </div>
                                <div>
                                    <img th:src="@{/img/person.png}">
                                </div>
                                <div>
                                    <img th:src="@{/img/person.png}">
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="review-close">취소</button>
                            <button class="review-save">적용</button>
                        </div>
                    </div>
                    <div>
                        <span class="text-primary cursor-pointer ml10px review-history">추가하기</span>
                    </div>
                </div>
            </div>
        <!-- The Modal -->
        <div class="modal schedule-modal" id="myModal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">스케줄 수정 !</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body f-modal">

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary schedule-submit-button">Submit</button>
                    </div>

                </div>
            </div>
        </div>
        <!--            <div class="h50vh bg-warning">-->
        <!--                모임장소-->
        <!--            </div>-->
    </div>
    </div>
</th:block>
</body>
</html>