<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="/main/temp/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <script defer th:src="@{/js/main/main.js}"></script>
    <title>Title</title>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="mt10vh main-container">
            <div class="g100 bg-primary d-flex flex-column p-3">
                <div class="text-white">
                    <h1>Another</h1>
                    <h1>Experience</h1>
                </div>
                <div class="text-align-right h-100 text-white">
                    <div class="d-flex justify-content-end flex-row">
                        <h1>SCHEDULE</h1>
                    </div>
                    <div class="schedule-wrapper">
                        <th:block th:each="data : ${schedule}">
                            <h5 class="schedule-data">
                                <button sec:authorize="isAuthenticated()"
                                        type="button"
                                        class="btn btn-primary schedule-mod-button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#myModal">수정</button>
                                <span class="date" th:text="${data.rdt}"></span>
                                <span class="day" th:text="${data.day}"></span>
                                <span class="time" th:text="${data.time}"></span>
                                <input type="hidden" class="id" th:value="${data.id}">
                                <input type="hidden" class="man" th:value="${data.man}">
                                <input type="hidden" class="woman" th:value="${data.woman}">
                                <span class="person" th:text="|남${data.man}/여${data.woman}|"></span>
                                <span class="status" th:text="${data.status}"></span>
                            </h5>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="h50vh d-flex flex-column justify-content-center">
                <div class="text-align-center">
                    <h1 class="mb-5">About Us</h1>
                </div>
                <div class="text-align-center justify-content-center">
                    <p>일상에 지친 2030 남녀 N명을 링키에 초대합니다</p>
                    <p>사전 검증을 통한 안전하고 색다른 프라이빗 미팅 레크리에이션</p>
                    <p>다른 사람이 보는 내 첫인상은?</p>
                    <p>어색함 없는 다양한 주제 토크</p>
                    <p>새로운 인연이 있을지도...?</p>
                </div>
            </div>

            <div class="mxh-50vh">
                <div class="text-align-center">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img class="mxh-70vh" th:src="@{/img/process_1.png}"></div>
                            <div class="swiper-slide"><img class="mxh-70vh" th:src="@{/img/process_2.png}"></div>
                            <div class="swiper-slide"><img class="mxh-70vh" th:src="@{/img/process_3.png}"></div>
                            <div class="swiper-slide"><img class="mxh-70vh" th:src="@{/img/process_4.png}"></div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>

            <div class="mt35vh d-flex flex-column justify-content-center">
                <div class="text-align-center">
                    <h1 class="mb-5">Q & A</h1>
                </div>
                <div class="d-flex justify-content-center flex-column align-items-center">
                    <div class="mb-4">
                        <div class="d-flex">
                            <h1>Q : </h1>
                            <h3 class="mt-auto mb-auto ms-1">혼자 / 친구와 가도 될까요?</h3>
                        </div>
                        <h1>A : </h1>
                    </div>
                    <div class="mb-4">
                        <div class="d-flex">
                            <h1>Q : </h1>
                            <h3 class="mt-auto mb-auto ms-1">참여인원과 남녀 비율?</h3>
                        </div>
                        <h1>A : </h1>
                    </div>
                    <div class="mb-4">
                        <div class="d-flex">
                            <h1>Q : </h1>
                            <h3 class="mt-auto mb-auto ms-1">연령대가 어떻게 되나요?</h3>
                        </div>
                        <h1>A : </h1>
                    </div>
                    <div class="mb-4">
                        <div class="d-flex">
                            <h1>Q : </h1>
                            <h3 class="mt-auto mb-auto ms-1">신상을 공개해야 하나요?</h3>
                        </div>
                        <h1>A : </h1>
                    </div>
                    <div class="mb-4">
                        <div class="d-flex">
                            <h1>Q : </h1>
                            <h3 class="mt-auto mb-auto ms-1">환불 규정은 어떻게 되나요?</h3>
                        </div>
                        <h1>A : </h1>
                    </div>
                    <div class="mb-4">
                        <div class="d-flex">
                            <h1>Q : </h1>
                            <h3 class="mt-auto mb-auto ms-1">뒤풀이는 있나요?</h3>
                        </div>
                        <h1>A : </h1>
                    </div>
                    <div class="mb-4">
                        <div class="d-flex">
                            <h1>Q : </h1>
                            <h3 class="mt-auto mb-auto ms-1">결제 후 과정이 어떻게 되나요?</h3>
                        </div>
                        <h1>A : </h1>
                    </div>
                </div>
            </div>


            <!-- The Modal -->
            <div class="modal schedule-modal" id="myModal">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">스케줄 수정 !</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body f-modal">

                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary schedule-submit-button">Submit</button>
                        </div>

                    </div>
                </div>
            </div>

<!--            <div class="h50vh bg-warning">-->
<!--                모임장소-->
<!--            </div>-->
        </div>
    </th:block>
</body>
</html>